{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}


    <div class="bula-drbola">

    </div>
    <div class="container bg-white position-relative top-0">
        {{ lorem|raw }}
    </div>
{% endblock %}
