{% extends 'base.html.twig' %}

{% block title %}Jan Bula a Václav Drbola!{% endblock %}

{% block body %}


    <div class="bula-drbola">
        <div class="container">
            <div class="text-center">
                <img class="img-fluid" src = "{{ asset('images/bula_drbola.png') }}">
            </div>
        </div>
    </div>
    <div class="container posun">


        <div class ="row justify-content-center video-bula-drbola">
            <div class="col-4">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/kc_wN0QYpfU" title="🎥 Ažnavěky | IV. Videolist brněnské diecéze | Hospodaření církve" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="podbarveni">

    <div class="container posun">
        <div class="row mt-5"></div>
        <div class="row justify-content-center">

            <div class="col-md-4 col-sm-12 col-12">
                <img class="img-fluid" src="{{ asset('images/odvaha.jpg') }}">
            </div>
            <div class="col-md-3 col-sm-12 col-12">
                <p></p>
                <p>
                    ... cnosti, které charakterizují dva<br>
                    mučedníky komunistických procesů<br>
                    50. let, kněze Jana Bulu a Václava<br>
                    Drbolu
                </p>
                <p>
                    Zpráva o jejich popravě měla původně<br>
                    sloužit k zastrašení církevní<br>
                    a náboženské opozice režimu, dnes<br>
                    naopak jejich příběh slouží jako<br>
                    symbol odpuštění, nezlomné<br>
                    odvahy a naděje.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
       <div class="row">
           <div class="col-12">
               <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Aliquam erat volutpat. Nullam faucibus mi quis velit. Etiam dictum tincidunt diam. Aenean fermentum risus id tortor. Nullam sapien sem, ornare ac, nonummy non, lobortis a enim. Fusce nibh. Donec iaculis gravida nulla. Vivamus ac leo pretium faucibus. Suspendisse sagittis ultrices augue. Mauris tincidunt sem sed arcu. Praesent vitae arcu tempor neque lacinia pretium.</p>

               <p>Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Duis ante orci, molestie vitae vehicula venenatis, tincidunt ac pede. Donec vitae arcu. Maecenas libero. Nulla est. Aenean fermentum risus id tortor. Morbi leo mi, nonummy eget tristique non, rhoncus non leo. Etiam commodo dui eget wisi. Nullam at arcu a est sollicitudin euismod. Fusce suscipit libero eget elit.</p>

               <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis ante orci, molestie vitae vehicula venenatis, tincidunt ac pede. Integer imperdiet lectus quis justo. Etiam egestas wisi a erat. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Maecenas sollicitudin. In enim a arcu imperdiet malesuada. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Nulla quis diam. Praesent in mauris eu tortor porttitor accumsan. Pellentesque sapien. Phasellus et lorem id felis nonummy placerat. Aliquam in lorem sit amet leo accumsan lacinia. Donec iaculis gravida nulla. Mauris metus.</p>

               <p>Nulla non lectus sed nisl molestie malesuada. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Vivamus porttitor turpis ac leo. Duis ante orci, molestie vitae vehicula venenatis, tincidunt ac pede. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Pellentesque ipsum. In rutrum. Praesent vitae arcu tempor neque lacinia pretium. Maecenas lorem. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Vivamus ac leo pretium faucibus. Aliquam ante. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Aliquam erat volutpat. Aliquam erat volutpat. Nullam faucibus mi quis velit. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis.</p>

               <p>Pellentesque ipsum. Duis viverra diam non justo. Aliquam erat volutpat. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Praesent vitae arcu tempor neque lacinia pretium. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Curabitur bibendum justo non orci. Nullam eget nisl. Nulla non arcu lacinia neque faucibus fringilla.</p>

           </div>
       </div>
    </div>
    </div>

{% endblock %}
