{% extends 'base.html.twig' %}

{% block title %}Blahořečení{% endblock %}

{% block body %}
<div class = "container pt-5 mt-3">
    <div class="row text-center">
        <div class="col-12 p-3">
            <h1 class="text-primary fw-bold text-uppercase">Blahořečení</h1>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class = "col-lg-4 col-md-6 text-center">
            <img src="{{ asset('images/bl01.png') }}">
        </div>
        <div class = "col-lg-4 col-md-6">
            <p>Blahořečení neboli beatifikace je proces, který vede
                k&nbsp;uznání osoby za „blahořečenou“ vrámci katolické
                církve. Je to první krok na cestě ke kanonizaci, tedy k&nbsp;
                prohlášení za svatého. Blahořečení znamená, že
                církev oficiálně uznává, že daná osoba žila ctnostný a&nbsp;
                svatý život a je právem uctívána jako vzor pro ostatní
                věřící. Proces blahořečení v důsledku znamená
                důkladný průzkum života a skutků kandidáta, zejména
                hledání důkazů o jeho ctnostech, hrdinství nebo
                zázracích. Během procesu se shromažďují dopisy z&nbsp;
                pozůstalosti, úřední dokumenty, výpovědi svědků a&nbsp;
                všechny další dostupné prameny dokumentující
                život kandidáta na blahořečení. Rozhodnutí pak
                vyslovuje Papežská kongregace pro blahořečení a svatořečení
                ve Vatikánu.</p>
        </div>
    </div>
{% include 'paticka.html.twig' %}
</div>
{% endblock %}
