{% extends 'base.html.twig' %}

{% block title %}Blahořečení{% endblock %}

{% block body %}
<div class = "container-fluid pt-5 mt-3">
    <div class="row text-center">
        <div class="col-12 p-3">
            <h1 class="text-primary fw-bold text-uppercase">Blahořečení</h1>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class = "col-lg-4 col-10 text-center">
            <img src="{{ asset('images/bl01.png') }}">
        </div>
        <div class = "col-lg-4 col-10">
            <h5 class="text-primary fw-bold text-justify-center mt-lg-0 mt-5">Co je blahořečení?</h5>
            <p class="pt-4 text-justify-left">Blahořečení neboli beatifikace je proces, který vede
                k&nbsp;uznání osoby za „blahořečenou“ vrámci katolické
                církve. Je to první krok na cestě ke kanonizaci, tedy k&nbsp;
                prohlášení za svatého. Blahořečení znamená, že
                církev oficiálně uznává, že daná osoba žila ctnostný a&nbsp;
                svatý život a je právem uctívána jako vzor pro ostatní
                věřící. Proces blahořečení v důsledku znamená
                důkladný průzkum života a skutků kandidáta, zejména
                hledání důkazů o jeho ctnostech, hrdinství nebo
                zázracích. Během procesu se shromažďují dopisy z&nbsp;
                pozůstalosti, úřední dokumenty, výpovědi svědků a&nbsp;
                všechny další dostupné prameny dokumentující
                život kandidáta na blahořečení. Rozhodnutí pak
                vyslovuje Papežská kongregace pro blahořečení a svatořečení
                ve Vatikánu.</p>
        </div>
    </div>
    <div class="row">
        <div class="podbarveni_4">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 m-5 p-5">
                    <h5 class="text-white fw-bold text-justify-center">Význam blahořečení</h5>
                    <p class="text-white text-justify-center pt-4">Pokud je proces blahořečení úspěšný, znamená to, že daný člověk může být na místní úrovni uctíván
                        a prosba o jeho přímluvu může být součástí modliteb. Beatifikace je tak předchůdcem kanonizace,
                        která přináší ještě širší uznání a oficiální svatořečení.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 col-lg-8 m-5 p-5">
            <h5 class="text-primary fw-bold text-justify-center">Schválený zázrak</h5>
            <p class="text-primary fw-bold text-justify-center pt-4">Proces blahořečení nebo i svatořečení může být podpořen událostí,
                kterou katolická církev označuje za „schválený zázrak“. Jde o napřirozený jev nebo skutek, který nemůže být vysvětlený vědecky.</p>
            <p class="text-primary text-justify-center pt-2">Zázrak je obvykle spjený s modlitbou na přímluvu osoby,
                která má být nebo už byla blahořečena nebo svatořečena.
                Typicky může jít třeba a náhlé uzdravení ze závažné nemoci nebo nečekanou záchranu před smrtí.
                Čin, který splňuje atributy zázraku, musí být vždy důkladně prošetřen - počítá se s vyjádřením
                odborníků jako jsou lékaři, vědci nebo teologové - tak, aby se předešlo mylné interpretaci přirozeného jevu
                nebo pokusu o podvod.</p>
        </div>
    </div>

</div>
    {% include 'paticka.html.twig' %}
{% endblock %}
