{% extends 'base.html.twig' %}

{% block title %}Blahořečení{% endblock %}

{% block body %}
<div class = "container pt-5 mt-3">
    <div class="row text-center">
        <div class="col-12 p-3">
            <h1 class="text-primary fw-bold text-uppercase">Blahořečení</h1>
        </div>
    </div>
{% include 'paticka.html.twig' %}
</div>
{% endblock %}
