<div class="col">
    <div class="card h-100 border-0 rounded-0">
        <div class="card-header bg-white border-0 pb-0">
            <small class="text-muted">{{ aktualita.Datum|cesky_datum }}</small>
        </div>
        <div class="px-3">
            <img src="images/aktuality/{{ aktualita.Obrazek }}" class="card-img-top rounded-0" alt="Náhledový obrázek">
        </div>
        <div class="card-body">
            <h5 class="card-title mt-2 text-primary fw-bold">{{ aktualita.Titulek}}</h5>
            <p class="card-text mb-0">{{ aktualita.Perex|raw }}</p>
            <a href="#" class="fw-bold">Číst více</a>
        </div>
    </div>
</div>