{% extends 'base.html.twig' %}

{% block title %}Aktuality{% endblock %}

{% block body %}
<div class = "container pt-5 mt-3">
    <div class="row text-center">
        <div class="col-12 p-3">
            <h1 class="text-primary fw-bold text-uppercase">Aktuality</h1>
        </div>
    </div>


    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 px-lg-5 py-lg-3">

        <!-- Aktualita 1 -->
        <div class="col">
            <div class="card h-100 border-0 rounded-0">
                <div class="card-header bg-white border-0 pb-0">
                    <small class="text-muted">5. srpna 2025</small>
                </div>
                <img src="images/aktuality/01.png" class="card-img-top rounded-0 px-3" alt="Náhledový obrázek">
                <div class="card-body">
                    <h5 class="card-title mt-2 text-primary fw-bold">Nadpis aktuality</h5>
                    <p class="card-text mb-0">Krátký úvodní text, který shrnuje obsah aktuality. Může mít 2–3 řádky.</p>
                    <a href="#" class="fw-bold">Číst více</a>
                </div>
            </div>
        </div>

        <!-- Aktualita 2 -->
        <div class="col">
            <div class="card h-100 border-0 rounded-0">
                <div class="card-header bg-white border-0 pb-0">
                    <small class="text-muted">5. srpna 2025</small>
                </div>
                <img src="images/aktuality/02.png" class="card-img-top rounded-0 px-3" alt="Náhledový obrázek">
                <div class="card-body">
                    <h5 class="card-title mt-2 text-primary fw-bold">Druhá aktualita</h5>
                    <p class="card-text mb-0">Další krátký text popisující novinku. Může obsahovat odkaz nebo klíčové informace.</p>
                    <a href="#" class="fw-bold">Číst více</a>
                </div>
            </div>
        </div>

        <!-- Aktualita 3 -->
        <div class="col">
            <div class="card h-100 border-0 rounded-0">
                <div class="card-header bg-white border-0 pb-0">
                    <small class="text-muted">5. srpna 2025</small>
                </div>
                <img src="images/aktuality/03.png" class="card-img-top rounded-0 px-3" alt="Náhledový obrázek">
                <div class="card-body">
                    <h5 class="card-title mt-2 text-primary fw-bold">Třetí aktualita</h5>
                    <p class="card-text mb-0">Stručný úvodní odstavec novinky. Lze ho doplnit nebo zvýraznit.</p>
                    <a href="#" class="fw-bold">Číst více</a>
                </div>
            </div>
        </div>

        <!-- Aktualita 4 -->
        <div class="col">
            <div class="card h-100 border-0 rounded-0">
                <div class="card-header bg-white border-0 pb-0">
                    <small class="text-muted">5. srpna 2025</small>
                </div>
                <img src="images/aktuality/04.png" class="card-img-top rounded-0 px-3" alt="Náhledový obrázek">
                <div class="card-body">
                    <h5 class="card-title mt-2 text-primary fw-bold">Čtvrtá aktualita</h5>
                    <p class="card-text mb-0">Krátký úvodní text, který shrnuje obsah aktuality. Může mít 2–3 řádky.</p>
                    <a href="#" class="fw-bold">Číst více</a>
                </div>
            </div>
        </div>

        <!-- Aktualita 5 -->
        <div class="col">
            <div class="card h-100 border-0 rounded-0">
                <div class="card-header bg-white border-0 pb-0">
                    <small class="text-muted">5. srpna 2025</small>
                </div>
                <img src="images/aktuality/05.png" class="card-img-top rounded-0 px-3" alt="Náhledový obrázek">
                <div class="card-body">
                    <h5 class="card-title mt-2 text-primary fw-bold">Pátá aktualita</h5>
                    <p class="card-text mb-0">Další krátký text popisující novinku. Může obsahovat odkaz nebo klíčové informace.</p>
                    <a href="#" class="fw-bold">Číst více</a>
                </div>
            </div>
        </div>

        <!-- Aktualita 6 -->
        <div class="col">
            <div class="card h-100 border-0 rounded-0">
                <div class="card-header bg-white border-0 pb-0">
                    <small class="text-muted">5. srpna 2025</small>
                </div>
                <img src="images/aktuality/06.png" class="card-img-top rounded-0 px-3" alt="Náhledový obrázek">
                <div class="card-body">
                    <h5 class="card-title mt-2 text-primary fw-bold">Poslední aktualita</h5>
                    <p class="card-text mb-0">Stručný úvodní odstavec novinky. Lze ho doplnit nebo zvýraznit.</p>
                    <a href="#" class="fw-bold">Číst více</a>
                </div>
            </div>
        </div>

        <!-- Aktualita 7 -->
        <div class="col">
            <div class="card h-100 border-0 rounded-0">
                <div class="card-header bg-white border-0 pb-0">
                    <small class="text-muted">5. srpna 2025</small>
                </div>
                <div class="px-3">
                <div class="image-overlay">
                    <img src="images/aktuality/07.jpg" class="card-img-top card-img-top-filter rounded-0" alt="Náhledový obrázek">
                </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title mt-2 text-primary fw-bold">Barevná aktualita</h5>
                    <p class="card-text mb-0">Zde je použita barevná fotografie</p>
                    <a href="#" class="fw-bold">Číst více</a>
                </div>
            </div>
        </div>

    </div>
    {% include 'paticka.html.twig' %}


</div>
{% endblock %}
