// assets/styles/global.scss
@import url("https://use.typekit.net/fuy0cea.css");
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@400,500,600,700&display=swap");

body.modal-open {
    padding-right: 0 !important;
}
.bula-drbola{
    width: 100%;
    #height: 475px; /* adjust the height as needed */
    background-image: url('./images/BD_layout_03.jpg');
    background-size: 100% 100%;
    //background-size: cover; /* makes the image cover the entire area */
    background-position: top center; /* ensures the image is centered */
    background-repeat: no-repeat; /* prevent repeating the image */
    display: block;
    position: relative;
    z-index: -1;
    top: -102px;
}
.navbar-minus{
    height: 86px;
}

.scroll-offset {
    scroll-margin-top: 106px; /* nastav dle výšky navbaru */
}
.scroll-offset-navbar {
    scroll-margin-top: 200px;
}

.nav-link:hover .icon-home{
    stroke: var(--bs-nav-link-hover-color);
    stroke-width: 2.8;
}
.download:hover .download-svg .stroke {
    stroke: white;
}

.nav-link:hover{
    font-weight: 700;
}
.podbarveni{
    width: 100%;
    background-image: linear-gradient(to bottom, white 0%, white 50%, transparent 100%), url('./images/body_bottom.jpg');
    #background-image: url('./images/body_bottom.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.podbarveni_2{
    width: 100%;
    height: 749px;
    background-image: linear-gradient(to bottom, white 5%, transparent 52%, rgba(33, 7, 104, 1) 95%), url('./images/body_bottom_2.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.podbarveni_3{
    width: 100%;
    //height: 600px;
    background-image: linear-gradient(to bottom, white 10%, transparent 52%, rgba(33, 7, 104, 1) 95%), url('./images/body_bottom_2.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.podbarveni_4{
    width: 100%;
    //height: 600px;
    background-image: url('./images/body_center.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.posun-140 {
    position: relative;
    top: -8.75em;
}

.posun-240 {
    position: relative;
    top: -15em;
}

.posun-300{
    position: relative;
    margin-top: -19em;
}

.svg-file {
    width: 50px;
    height: 50px;
}
.bula-drbola-prechod{
    position: relative;
    top: 0;
    max-width: 150%;
}
@media screen and (max-width: 992px){
    .bula-drbola-prechod {
        left:0%
    }
}
@media screen and (max-width: 920px){
    .bula-drbola-prechod {
        left:-7%
    }
}

@media screen and (max-width: 840px){
    .posun-240 {
        top: -10em;
    }
    .posun-140 {
        top: -4.75em;
    }

    .posun-300 {
        margin-top: -4em;
    }

    .bula-drbola{
        min-height: 22em;
    }
    .podbarveni_2{
        height: auto;
    }
    .bula-drbola-oriznuti-mobil
    {
        width: 115% !important;
        transform: scale(115%);
        max-width: 100% !important;
    }
    .bula-drbola-oriznuti-main-mobil
    {
        width: 110% !important;
        transform: scale(110%);
        max-width: 100% !important;
    }
    .bula-drbola-prechod {
        left:-17%
    }
}
@media screen and (max-width: 600px) {
    .posun-240 {
        top: -5.5em;
    }
    .bula-drbola-prechod {
        left:-20%
    }
}
.overflow-wrapper {
    overflow: hidden;
}

.border-end-desktop-only {
    border-right: none;
}
@media screen and (min-width: 992px) {
    .border-end-desktop-only {
        border-right: 1px solid #dee2e6 !important;
    }
    .bula-drbola-prechod{
        top: 3% !important;
        left: 5% !important;
        width: 280% !important;
        transform: scale(280%);
        max-width: 100% !important;
    }
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(33, 7, 104, 1)' stroke-width='2.8' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar-toggler .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(33, 7, 104, 1)' stroke-width='2.8' stroke-linecap='round' stroke-miterlimit='10' d='M6 6L24 24M6 24L24 6'/%3e%3c/svg%3e") !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}

.posun-180 {
    position: relative;
    top: -180px;
}

.footer{
    background-color: rgba(33, 7, 104, 1);
    width: 100%;
    height: 400px;
}

/* Nová barva pozadí po posunutí */
.navbar.scrolled, .navbar.toggled {
    background-color: rgba(255, 255, 255, 1) !important;
}

.navbar.toggled{
    transition: background-color 0ms;
}
.navbar.scrolled {
    transition: background-color 0ms;
}

.bod-casove-osy,.casova-osa-linie {
    position: relative; /* Umožní umístit pseudo-element relativně k tomuto prvku */
}

.bod-casove-osy::after {
    content: "";
    position: absolute;
    top: 22px;
    right: -3px;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.bod-casove-osy::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px; /* Šířka pravého okraje */
    height: 100%;
    background-color: rgba(222,174,107,1); /* Barva okraje */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 35px, 100% 35px, 100% 17px, 0 17px);
}
.casova-osa-linie:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px; /* Šířka pravého okraje */
    height: 100%;
    background-color: rgba(222,174,107,1); /* Barva okraje */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.casova-osa-linie-start {
    position: relative;
    padding-right: 10px; /* Prostor pro border efekt */
}

.casova-osa-linie-start::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2px; /* Výchozí tloušťka okraje */
    height: 100%;
    background: linear-gradient(to top, rgb(222, 174, 107) 45%, rgba(255, 255, 255, 0.4) 70%, rgba(255,255,255,0) 97%);
    clip-path: polygon(50% 0%, 50% 0%, 100% 100%, 0% 100%);/* Zúžení směrem nahoru */
}

.casova-osa-linie-end {
    position: relative;
    min-height: 80px;
}

.casova-osa-linie-end::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, rgb(222, 174, 107) 45%, rgba(255, 255, 255, 0.4) 70%, rgba(255,255,255,0) 97%);
    clip-path: polygon(0 0, 100% 0, 50% 100%, 50% 100%); /* Zúžení směrem dolů */
}

.casova-osa-zvyrazneny-element, .casova-osa-zvyrazneny-element-levy, .casova-osa-element, .casova-osa-element-levy  {
    position: relative;
    display: inline-block;
    padding: 5px 20px;
}

.casova-osa-zvyrazneny-element::before, .casova-osa-element-hover:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(147, 144, 199) 20%, transparent 100%);
    clip-path: polygon(100% 0%, 12px 0%, 12px 16px, 0% 26px, 12px 38px, 12px 100%, 100% 100%, 100% calc(100% - 1px), 13px calc(100% - 1px), 13px 37px, 1px 26px, 13px 17px, 13px 1px, 100% 1px);
}

.casova-osa-zvyrazneny-element-levy::before, .casova-osa-element-levy-hover:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgb(147, 144, 199) 20%, transparent 100%);
    clip-path: polygon(0% 0%, calc(100% - 12px) 0%, calc(100% - 12px) 16px, 100% 26px, calc(100% - 12px) 38px, calc(100% - 12px) 100%, 0% 100%, 0% calc(100% - 1px), calc(100% - 13px) calc(100% - 1px), calc(100% - 13px) 37px, calc(100% - 1px) 26px, calc(100% - 13px) 17px, calc(100% - 13px) 1px, 0% 1px);
}
.casova-osa-rok{
    min-width: 72px;
}
.text-justify-center {
    text-align: justify;
    text-align-last: center;
}
.text-justify-left {
    text-align: justify;
    text-align-last: left;
}
.text-justify-right {
    text-align: justify;
    text-align-last: right;
}


.casova-osa-carousel .carousel-item img {
    margin-bottom: 60px;
}
.casova-osa-carousel .carousel-item .button {
    width: 8px;  /* Velikost kruhu */
    height: 8px;
    position: absolute;
    left: 50%;
    bottom: 42px;
    transform: translateX(-4px);
    border-radius: 50%; /* Udělá z tlačítka kruh */
    background-color: white; /* Barva kruhu */
    border: none; /* Odebrání výchozích okrajů */
    opacity: 1; /* Lehce průhledné */
    transition: opacity 0.3s ease-in-out;
    visibility: visible;
}
.casova-osa-carousel .carousel-item button {
    visibility: hidden;
}

.casova-osa-carousel-prvni::before{
    content: "";
    position: absolute;
    bottom: 45px;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, rgb(222, 174, 107) 45%, rgba(255, 255, 255, 0.4) 70%, rgba(255,255,255,0) 97%);
    clip-path: polygon(25% 50%, calc(50% - 8px) 0, calc(50% - 8px) 100%, 25% 50%);
    visibility: visible;
}
.casova-osa-carousel-prostredek::before,
.casova-osa-carousel-posledni::before{
    content: "";
    position: absolute;
    bottom: 45px;
    left: 5%;
    width: 90%;
    height: 3px;
    background: linear-gradient(to right, rgb(222, 174, 107) 45%, rgba(255, 255, 255, 0.4) 70%, rgba(255,255,255,0) 97%);
    clip-path: polygon(0 0, calc(50% - 8px) 0, calc(50% - 8px) 100%, 0 100%);
    visibility: visible;
}

.casova-osa-carousel-prostredek::after,
.casova-osa-carousel-prvni::after{
    content: "";
    position: absolute;
    bottom: 45px;
    right: 5%;
    width: 90%;
    height: 3px;
    background: rgb(222, 174, 107);
    clip-path: polygon(calc(50% + 8px) 100%, 100% 100%, 100% 0%, calc(50% + 8px) 0%);
    visibility: visible;
}

.casova-osa-carousel-posledni::after{
    content: "";
    position: absolute;
    bottom: 45px;
    right: 0;
    width: 100%;
    height: 3px;
    background: rgb(222, 174, 107);
    clip-path: polygon(calc(50% + 8px) 100%, 75% 50%, 75% 50%, calc(50% + 8px) 0%);
    visibility: visible;
}
.casova-osa-carousel-rok{
    position: relative;
    top: 16px;
}

.casova-osa-carousel .carousel-caption{
    bottom: 40px !important;
}
.prostor-pod-carouselem {
    min-height: 6rem;
}

// customize some Bootstrap variables
$body-secondary-bg: rgba(33, 7, 104, 1);
$body-secondary-color: rgba(147, 144, 199, 1);
$primary: rgba(33, 7, 104, 1);
$secondary: rgb(222, 174, 107);
$tertiary: rgb(255, 255, 255);
$navbar-bg: rgba(255, 255, 255);
$navbar-light-color: rgba(33, 7, 104, 1);
$font-family-base: 'Clash Display', sans-serif;
$headings-font-family: 'Clash Display', sans-serif;
$h1-font-size: 3.125rem;
$h2-font-size: 2.19rem;
$font-weight-bold: 600;
$font-weight-bolder: 1000;

.pt-6
{
    padding-top: 5rem;
}

.text-date{
    color: rgb(154, 151, 151);;
}
h1, h2, h3 {
    font-family: "palast-variable",sans-serif !important;
    line-height: 1.2;
    font-weight: 900 !important; //Poster black
    font-style: normal;
}

body {
    letter-spacing: 0.01em;
    line-height: 1.2;
    font-weight: 400 !important; //Regular
    font-style: normal;
}
.image-overlay {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgb(222, 174, 107);
}

.card-img-top-filter{
    filter:sepia(1) opacity(0.62) contrast(1.3)
}

.materialy .nav-link.active, .materialy .nav-link.active:hover {
    border-bottom: 2px solid rgb(222, 174, 107) !important;
}
.materialy .nav-link:hover {
    border-bottom: 2px solid rgba(222, 174, 107, 0.57) !important;
}

.materialy.nav-tabs, .materialy .nav-link{
    border: 0px !important;
}
.materialy .nav-link{
    border-bottom: 2px solid white !important;
    font-size: large !important;
}

/* Jednoduchý fade-in efekt */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

.hover-bold:hover {
    font-weight: bold;
}

.perex{
    font-size: 0.95rem;
}

input.form-check-input[type=radio] + label {
    display: inline-block;
    margin-top: 0.2rem;
    margin-left: 0.3rem;
    margin-right: 0.8rem;
    }


input.form-check-input[type=checkbox] + label {
    display: inline-block;
    margin-top: 0;
    margin-left: 1.6rem;
    position: relative;
    top: -1.1rem;
}

.form-dobrovolnici ul {
    list-style: none;       /* odstraní defaultní odrážky */
    padding-left: 1rem;        /* odsazení odstavce */
}

.form-dobrovolnici li {
    color: #ff1c07;         /* text-warning barva */
    margin-bottom: 0.25rem; /* mezera mezi chybami */
}

.map-pin.is-active .pin-shape path {
    fill: rgba(33, 7, 104, 1);
}

.map-pin {
    transition: opacity 0.5s ease;
}

.map-pin.is-dimmed {
    opacity: 0.5;
}

#map { height: 600px; }

#mapSvg {
    user-select: none;
    transform: translateZ(0);
    backface-visibility: hidden;
}
#miniMap {
    position: absolute;
    bottom: 12px;
    right: 12px;

    width: 150px;
    background: white;
    border-radius: 6px;
    padding: 4px;
    z-index: 10;

    box-shadow: 0 2px 10px rgba(0,0,0,.25);
    pointer-events: none;
}

#miniMap svg {
    width: 100%;
    height: auto;
    display: block;
}

.akce-datum {
    position: absolute;
    top: 8px;
    left: 8px;
    background: rgba(33, 7, 104, 0.9);
    color: #fff;
    font-size: 0.75rem;
    padding: 4px 8px;
    font-weight: 500;
    letter-spacing: 0.03em;
}

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

