// assets/styles/global.scss

.bula-drbola{
    width: 100%;
    height: 400px; /* adjust the height as needed */
    background-image: url('./images/background.png');
    background-size: cover; /* makes the image cover the entire area */
    background-position: center; /* ensures the image is centered */
    background-repeat: no-repeat; /* prevent repeating the image */
  }
// customize some Bootstrap variables
$body-bg: rgba(33, 7, 104, 1);
$navbar-bg: rgba(255, 255, 255);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

