<div class = "container-fluid">
    <div class="row">
        <div class="podbarveni_3">
            <div class="text-center m-5">
                <img class="img-fluid" src = "{{ asset('images/bula_drbola.png') }}">
            </div>
            <div class="text-center posun-140">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-12">
                          <p class="text-white">Pojďte s námi oslavit blahořečení mučedníků<br>
                            Jana Buly a Václava Drboly na výstavišti v Brně<br>
                            21.-22.11.2025</p>
                        <button class="btn btn-sm btn-outline-light rounded-pill">Více o akci na výstavišti</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>