{% extends 'base.html.twig' %}

{% block title %}Zapojte se{% endblock %}

{% block body %}
    <div class = "container-fluid pt-5 mt-3">
        <div class="row text-center">
            <div class="col-12 p-3">
                <h1 class="text-primary fw-bold text-uppercase">Zapojte se</h1>
            </div>
        </div>
        <div class="row">
            <div class="podbarveni_4">
                <div class="row justify-content-center m-5">
                    <div class="col-lg-3 col-5 text-justify-left ">
                        <img src="{{ asset('images/zs01.jpg') }}" class="img-fluid">
                    </div>
                    <div class="col-lg-3 col-5">
                        <h5 class="text-white text-justify-center pt-4">Dobrovolnictví</h5>
                        <p class="text-white text-justify-left">
                            Proces blahořečení vyvrcholí beatifikační slavností
                            na brněnském výstavišti 21. a 22. listopadu.</p>
                        <p class="text-white text-justify-left">
                            Očekávaná účast se pohybuje mezi 8 - 13 000 věřícími
                            z celého Česka. Pro akci, která je svým rozsahem pro
                            českou církvem mimořádná, bude potřeba zajistit
                            dostatečné množství dobrovolníků, kteří se zapojí
                            do různých částí programu.
                        </p>
                        <p class="text-white text-justify-left">
                            Chceš nám při tom pomoct? Vyplň přihlášku a my
                            se Ti ozveme s podrobnostmi.
                        </p>

                        <button class="btn btn-outline-light btn-sm rounded-5">Chci se zapojit</button>
                    </div>
                </div>
            </div>
        </div>
        {% include 'paticka.html.twig' %}
    </div>
{% endblock %}
