{% extends 'base.html.twig' %}

{% block title %}Příběh Jana Buly a Václava Drboly{% endblock %}

{% block body %}
<div class="container bg-primary text-white">
    <div class="row">
        <div class="col-6 casova-osa-linie-start text-end">
            <h1 class="text-uppercase">Jan Bula</h1>
        </div>
        <div class="col-6">
            <h1 class="text-uppercase">Václav Drbola</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6 bod-casove-osy text-end">
            <div class="casova-osa-element ">
            a tady už vůbec ne<p>sdfdf</p>
            </div>
        </div>

        <div class="col-6">
            <div class="casova-osa-element" id="casovaOsaWrapper">
                zkusme tady dát obsah;
                <div class="collapse multi-collapse casovaOsa1">

                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
                <a class="btn btn-primary toggle-btn" data-bs-toggle="collapse" data-bs-target=".casovaOsa1" role="button">Zobrazit více</a>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-6 bod-casove-osy text-end">
            <div class="casova-osa-element-levy">
            a tady už vůbec ne<p>sdfdf</p>
                <div class="collapse multi-collapse casovaOsa2">

                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
                <a class="btn btn-primary toggle-btn" data-bs-toggle="collapse" data-bs-target=".casovaOsa2" role="button">Zobrazit více</a>
            </div>
        </div>

        <div class="col-6">
            <div class="casova-osa-element">
            jenže tady není žádný obsah
                <div class="collapse multi-collapse casovaOsa3">

                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
                <a class="btn btn-primary toggle-btn" data-bs-toggle="collapse" data-bs-target=".casovaOsa3" role="button">Zobrazit více</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-6 casova-osa-linie-end text-end">

        </div>

        <div class="col-6">

        </div>
    </div>
</div>
{% endblock %}
