{% extends 'base.html.twig' %}

{% block title %}Příběh Jana Buly a Václava Drboly{% endblock %}

{% block body %}
<div class="container bg-primary text-white">
    <div class="row">
        <div class="col-6 casova-osa-linie-start text-end">
            <h1 class="text-uppercase">Jan Bula</h1>
        </div>
        <div class="col-6">
            <h1 class="text-uppercase">Václav Drbola</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6 bod-casove-osy">
            a tady už vůbec ne<p>sdfdf</p>
        </div>

        <div class="col-6">
            <div class="casova-osa-zvyrazeny-element">
                zkusme tady dát obsah;
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 casova-osa-linie-end">
            a tady už vůbec ne<p>sdfdf</p>
        </div>

        <div class="col-6">
            jenže tady není žádný obsah
        </div>
    </div>
</div>
{% endblock %}
