{% extends 'base.html.twig' %}

{% block title %}Příběh Jana Buly a Václava Drboly{% endblock %}

{% block body %}
<div class="container bg-primary text-white">
    <div class="row">
        <div class="col-6 casova-osa-linie-start text-end">
            <h1 class="text-uppercase">Jan Bula</h1>
        </div>
        <div class="col-6">
            <h1 class="text-uppercase">Václav Drbola</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6 bod-casove-osy text-end">
            <div class="casova-osa-element d-flex flex-row">

            </div>
        </div>

        <div class="col-6">
            <div class="casova-osa-element d-flex flex-row">

                <h4 class="p-2 text-secondary">1912</h4>
                <div class="p-2">
                    <p class="fw-bold">Narozen 10. října 1912<br>v jihomoravských Starovičkách</p>

                    <div class="collapse multi-collapse casovaOsa1">
                        <p>Václav Drbola se narodil v jihomoravské vesnici Starovičky jako nejstarší ze sedmi dětí Růženy a Václava Drbolových. Početná rodina neměla finančních prostředků nazbyt. Václav ale přesto vystudoval reálné gymnázium v blízkých Hustopečích.</p>
                    </div>
                    <a class="text-secondary fw-bold toggle-btn" data-bs-toggle="collapse" data-bs-target=".casovaOsa1" role="button">&#709; zobrazit více</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-6 bod-casove-osy text-end">
            <div class="casova-osa-element-levy d-flex flex-row-reverse">
                <h4 class="p-2 text-secondary">1920</h4>
                <div class="p-2">
                    <p class="fw-bold">Narozen 24. června 1920<br>v Lukově u Moravských Budějovic</p>
                    <div class="collapse multi-collapse casovaOsa2">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                    </div>
                    <a class="text-secondary fw-bold toggle-btn" data-bs-toggle="collapse" data-bs-target=".casovaOsa2" role="button">&#709; zobrazit více</a>
                </div>

            </div>
        </div>

        <div class="col-6">
            <div class="casova-osa-element d-flex flex-row">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 bod-casove-osy text-end">
            <div class="casova-osa-element d-flex flex-row">

            </div>
        </div>

        <div class="col-6">
            <div class="casova-osa-element d-flex flex-row">

                <h4 class="p-2 text-secondary">1938</h4>
                <div class="p-2">
                    <p class="fw-bold">5. července 1938<br>vysvěcen na kněze</p>

                    <div class="collapse multi-collapse casovaOsa3">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                    </div>
                    <a class="text-secondary fw-bold toggle-btn" data-bs-toggle="collapse" data-bs-target=".casovaOsa3" role="button">&#709; zobrazit více</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-6 casova-osa-linie-end text-end">

        </div>

        <div class="col-6">

        </div>
    </div>
</div>
{% endblock %}
