{% extends 'base.html.twig' %}

{% block title %}Příběh Jana Buly a Václava Drboly{% endblock %}

{% block body %}
<div class="container bg-primary text-white">
    <div class="row">
        <div class="col-6 casova-osa-linie-start text-end">
            <h1 class="text-uppercase p-4">Jan Bula</h1>
        </div>
        <div class="col-6">
            <h1 class="text-uppercase p-4">Václav Drbola</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6 bod-casove-osy text-end">
            <div class="casova-osa-element d-flex flex-row-reverse">

            </div>
        </div>

        <div class="col-6">
            <div class="casova-osa-element d-flex flex-row">

                <h4 class="p-2 text-secondary casova-osa-rok">1912</h4>
                <div class="p-2">
                    <p class="fw-bold">Narozen 10. října 1912<br>v jihomoravských Starovičkách</p>

                    <div class="collapse multi-collapse casovaOsa1">
                        <p>Václav Drbola se narodil v jihomoravské vesnici Starovičky jako nejstarší ze sedmi dětí Růženy a Václava Drbolových. Početná rodina neměla finančních prostředků nazbyt. Václav ale přesto vystudoval reálné gymnázium v blízkých Hustopečích.</p>
                    </div>
                    <a class="text-secondary fw-bold toggle-btn" data-bs-toggle="collapse" data-bs-target=".casovaOsa1" role="button">&#709; zobrazit více</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-6 bod-casove-osy text-end">
            <div class="casova-osa-element-levy d-flex flex-row-reverse">
                <h4 class="p-2 text-secondary casova-osa-rok">1920</h4>
                <div class="p-2">
                    <p class="fw-bold">Narozen 24. června 1920<br>v Lukově u Moravských Budějovic</p>
                    <div class="collapse multi-collapse casovaOsa2">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                    </div>
                    <a class="text-secondary fw-bold toggle-btn" data-bs-toggle="collapse" data-bs-target=".casovaOsa2" role="button">&#709; zobrazit více</a>
                </div>

            </div>
        </div>

        <div class="col-6">
            <div class="casova-osa-element d-flex flex-row">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 bod-casove-osy text-end">
            <div class="casova-osa-element d-flex flex-row-reverse">

            </div>
        </div>

        <div class="col-6">
            <div class="casova-osa-element d-flex flex-row">
                <h4 class="p-2 text-secondary casova-osa-rok">1938</h4>
                <div class="p-2">
                    <p class="fw-bold">5. července 1938<br>vysvěcen na kněze</p>

                    <div class="collapse multi-collapse casovaOsa3">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                    </div>
                    <a class="text-secondary fw-bold toggle-btn" data-bs-toggle="collapse" data-bs-target=".casovaOsa3" role="button">&#709; zobrazit více</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-6 bod-casove-osy text-end">
            <div class="casova-osa-element-levy d-flex flex-row-reverse">
                <h4 class="p-2 text-secondary casova-osa-rok">1945</h4>
                <div class="p-2">
                    <p class="fw-bold">Vysvěcen na kněze v Brně<br>29. července 1945</p>
                    <div class="collapse multi-collapse casovaOsa4">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                    </div>
                    <a class="text-secondary fw-bold toggle-btn" data-bs-toggle="collapse" data-bs-target=".casovaOsa4" role="button">&#709; zobrazit více</a>
                </div>

            </div>
        </div>

        <div class="col-6">
            <div class="casova-osa-element d-flex flex-row">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 casova-osa-linie text-end">
            <div class="casova-osa-element-levy d-flex flex-row-reverse">
                <h4 class="p-2 text-secondary casova-osa-rok"></h4>
                <div class="p-2">
                    <p class="fw-bold">Do roku 1950<br>V kněžské službě v Rokytnici nad Rokytnou</p>

                    <div class="collapse multi-collapse casovaOsa5">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                    </div>
                    <a class="text-secondary fw-bold toggle-btn" data-bs-toggle="collapse" data-bs-target=".casovaOsa5" role="button">&#709; zobrazit více</a>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="casova-osa-element d-flex flex-row">
                <h4 class="p-2 text-secondary casova-osa-rok"></h4>
                <div class="p-2">
                    <p class="fw-bold">Do roku 1950<br>V kněžské službě ve Slavkově u Brna,<br> Čučicích a Bučovicích</p>

                    <div class="collapse multi-collapse casovaOsa6">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                    </div>
                    <a class="text-secondary fw-bold toggle-btn" data-bs-toggle="collapse" data-bs-target=".casovaOsa6" role="button">&#709; zobrazit více</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 bod-casove-osy text-end">
            <div class="casova-osa-element-levy d-flex flex-row-reverse">

            </div>
        </div>

        <div class="col-6">
            <div class="casova-osa-element d-flex flex-row">
                <h4 class="p-2 text-secondary casova-osa-rok">1950</h4>
                <div class="p-2">
                    <p class="fw-bold">Knězem v Babicích</p>

                    <div class="collapse multi-collapse casovaOsa7">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                    </div>
                    <a class="text-secondary fw-bold toggle-btn" data-bs-toggle="collapse" data-bs-target=".casovaOsa7" role="button">&#709; zobrazit více</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 bod-casove-osy text-end">
            <div class="casova-osa-element-levy d-flex flex-row-reverse">
                <h4 class="p-2 text-secondary casova-osa-rok">1951</h4>
                <div class="p-2">
                    <p class="fw-bold">Nespravedlivě odsouzen k smrti<br> ve vykonstruovaném procesu<br>v souvislosti s tvz. babickým případem.</p>

                    <div class="collapse multi-collapse casovaOsa8">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                    </div>
                    <a class="text-secondary fw-bold toggle-btn" data-bs-toggle="collapse" data-bs-target=".casovaOsa8" role="button">&#709; zobrazit více</a>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="casova-osa-element d-flex flex-row">
                <h4 class="p-2 text-secondary casova-osa-rok">1951</h4>
                <div class="p-2">
                    <p class="fw-bold">17. června 1951<br>Zadržen jako podezřelý v souvislosti<br>s tzv. babickým případem</p>

                    <div class="collapse multi-collapse casovaOsa9">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                    </div>
                    <a class="text-secondary fw-bold toggle-btn" data-bs-toggle="collapse" data-bs-target=".casovaOsa9" role="button">&#709; zobrazit více</a>
                </div>
            </div>
            <div class="casova-osa-element d-flex flex-row">
                <h4 class="p-2 text-secondary casova-osa-rok"></h4>
                <div class="p-2">
                    <p class="fw-bold">3. srpna 1951<br>Oběšen na dvoře jihlavské věznice</p>

                    <div class="collapse multi-collapse casovaOsa10">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                    </div>
                    <a class="text-secondary fw-bold toggle-btn" data-bs-toggle="collapse" data-bs-target=".casovaOsa10" role="button">&#709; zobrazit více</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 bod-casove-osy text-end">
            <div class="casova-osa-element-levy d-flex flex-row-reverse">
                <h4 class="p-2 text-secondary casova-osa-rok">1952</h4>
                <div class="p-2">
                    <p class="fw-bold">20. května 1952 popraven v Jihlavě</p>

                    <div class="collapse multi-collapse casovaOsa11">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                    </div>
                    <a class="text-secondary fw-bold toggle-btn" data-bs-toggle="collapse" data-bs-target=".casovaOsa11" role="button">&#709; zobrazit více</a>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="casova-osa-element d-flex flex-row">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 bod-casove-osy text-end">
            <div class="casova-osa-element-levy d-flex flex-row-reverse">
                <h4 class="p-2 text-secondary casova-osa-rok">1990</h4>
                <div class="p-2">
                    <p class="fw-bold">Soudně rehabilitován</p>

                    <div class="collapse multi-collapse casovaOsa12">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                    </div>
                    <a class="text-secondary fw-bold toggle-btn" data-bs-toggle="collapse" data-bs-target=".casovaOsa12" role="button">&#709; zobrazit více</a>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="casova-osa-element d-flex flex-row">
                <h4 class="p-2 text-secondary casova-osa-rok">1990</h4>
                <div class="p-2">
                    <p class="fw-bold">Soudně rehabilitován</p>

                    <div class="collapse multi-collapse casovaOsa13">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                    </div>
                    <a class="text-secondary fw-bold toggle-btn" data-bs-toggle="collapse" data-bs-target=".casovaOsa13" role="button">&#709; zobrazit více</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-6 casova-osa-linie-end text-end">

        </div>

        <div class="col-6">

        </div>
    </div>
</div>
{% endblock %}
